/* Write your CSS here */
.delete-btn {
  border: 0;
  background-color: transparent;
}
.delete-icon-image {
  width: 20px;
  height: 20px;
}

.transaction-item {
  border: 1px solid #cbd5e1;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top-width: 0;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

.transaction-text {
  font-size: 12px;
  width: 30%;
  color: #475569;
}
